$primary-color: #384148;
$blue:  #5DB0C7;
$white: #fff;

%section-formatting {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    padding-left: 5%;
    padding-right: 5%;
    height:100px; 
    width: 60%;
}

.form-container{
    display: flex;
    justify-content: center;
    margin-top: 70px;
    
}

.add-form {
    width: 70%;
    padding: 5%;
    border: 2px solid $primary-color;
    border-radius: 5px;
}

.add-form label{
    color: $primary-color;
}

.student-input input {
    width: 100%;
    height:35px;
    border-radius: 5px;
    border: 1px solid $primary-color;
    
}


//-------------------NAME SECTION--------------------
.name-section{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    padding-left: 5%;
    padding-right: 5%;
    height:100px; 
    width: 100%;
}

.name-section .student-input{
    width: 45%;
    // margin-right: 5%;
    // margin-left: 2%;
}



//-------------------AGE AND GRADE SECTION--------------------

.age-grade{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    padding-left: 5%;
    padding-right: 5%;
    height:100px; 
    width: 40%;
}

//-------------------STUDENT STATUSES SECTION--------------------
.student-statuses{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    padding-left: 5%;
    padding-right: 5%;
    height:100px; 
    width: 70%;
}

.student-statuses select {
    height: 35px;
    color: $primary-color;
    font-size:1.8rem;

}

//-------------------Disabilities SECTION--------------------
.disabilities{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    padding-left: 5%;
    padding-right: 5%;
    height:100px; 
    width: 60%;
}

.disabilities select {
    height: 35px;
    color: $primary-color;
    font-size:1.8rem;
    width: 30%;
}

//-------------------CONTACT NAME AND PHONE NUMBER SECTION--------------------
.contactName-phone {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    padding-left: 5%;
    padding-right: 5%;
    height:100px; 
    width: 100%;
}

.contactName-phone .student-input{
    width: 45%;
}

//-------------------EMAIL AND RELATIOINSHIP SECTION--------------------
.email-relationship {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    padding-left: 5%;
    padding-right: 5%;
    height:100px; 
    width: 100%;
}

.email-relationship .student-input{
    width: 45%;
}

.email-relationship select{
    height: 35px;
    color: $primary-color;
    font-size:1.8rem;
}


//-------------------SOCIAL HISTORY/BACKGROUND SECTION--------------------
.history-info{
    margin-bottom: 40px;
    padding-left: 5%;
    padding-right: 5%;
    width: 100%;
    font-size:1.8rem;
}

.history-info textarea{
    height: 150px;
    padding: 2%;
}

//-------------------CRITICAL INFORMATION SECTION--------------------
.critical-info{
    margin-bottom: 30px;
    padding-left: 5%;
    padding-right: 5%;
    width: 100%;
    font-size:1.8rem;
}

.critical-info textarea{
    height: 150px;
    padding: 2%;
}




//-------------------BUTTON SECTION--------------------
.submit-btn{
    margin-bottom: 30px;
    padding-left: 5%;
    padding-right: 5%;
    width: 100%;
    font-size:1.8rem;
}

.add-form button {
    height: 40px;
    background-color: $blue;
    border-radius: 5px;
    border:none;
    color: white;
    width: 100%;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
    font-weight: bold;
    font-size: 1.8rem;

    &:hover{
        cursor: pointer;
        background: #6AC4DE;
    }
}

