.top-header {
  box-shadow: 0 3px 5px 0 rgba(0,0,0,.27);
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $white;
  color: #444;
  padding-top: 0.5em;
  padding-bottom: 0.5em;

  .logo {
    font-size: 2.5em;
    font-weight: bold;
  }

  nav {
    width: 50%;
    ul.main-menu {
      display: flex;
      justify-content: space-between;
      align-items: center;

      li:first-child {
        margin-left: auto;
      }

    }
  }
}

nav li {
  margin-left: 2.5em;
}

.header-nav a {
  text-decoration: none;
  color: #444;
}

nav a {
  font-size: 1.5em;
}
nav a:hover {
  text-decoration: underline;
}
