
.top-header {
  box-shadow: 0 3px 5px 0 rgba(0,0,0,.27);
  background: $dark-grey;
  color: white;
  height: 70px;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;

  .logo {
  }

  nav {
    width: 50%;
    ul.main-menu {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      margin-bottom: 0;

      li:first-child {
        margin-left: auto;
      }

    }

    @media (max-width: 500px){
      width: 70%;
    }
  }
}

nav li {
  margin-left: 2.5em;
}

.header-nav a {
  text-decoration: none;
  color: #fff;
}

nav a {
  font-size: 1.8rem;
}
nav a:hover {
  text-decoration: underline;
}
