

.registration-page .registration-form .registration-btn {
    background:#5DB0C7;
    color: white;

    margin-top:15px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);

    &:hover{
        cursor: pointer;
        background: #6AC4DE;
    }
    
}

.registration-page {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    height: 1024px;
    background-color: grey;
    background-image: url('../images/opaque_bg.png');
    background-size: cover;
}

.registration-page .form-title{
    display: none;
}


.registration-page img {
    width: 100%;
    height: auto;
}


.registration-page .registration-form {
    flex-direction: column;
    align-items:center;
    border: 2px solid white;
    border-radius: 5px;
    width: 60%;
    margin:0;
    padding:5%;
    // transform: translate(-50%, -50%);
}


.registration-page .registration-input input{
    // width:500px;
    margin:0;
    padding:0;
    border:none;
    padding: 2.5%;
}

.registration-page .registration-input {
    margin-bottom: 5%;
}

.registration-page .registration-input label {
    color: white;
}


.registration-page .title {
    font-size:4rem;
    color: white;
    margin-bottom: 40px;
    width: 70%;
    text-align:center;
}

.registration-page .title p {
    margin: 2%;

}

.registration-page .already-have-account {
    border: 3px solid white;
    border-radius: 5px;
    width: 60%;
    font-size:2rem;
    color: white;
    margin-top: 30px;
    text-align:center;
}

.registration-page .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    margin-top:50px;

}

.registration-page .form-title {
    display: none;
}

// .login-page .need-account a {
//     text-decoration: none;
//     font-weight: bold;
//     color: white;
// }