$desktop: 1024px;
$tablet: 1000px;
$phone: 500px;


.registration-form{
    width:50%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top:5%;
    margin-bottom: 5%;

    @media (max-width: $phone){
        width: 80%;
    }
}

.registration-input input {
height: 35px;
margin-bottom: 30px;
border: 1px solid #384148;
border-radius: 5px;
font-size:1.8rem;
padding-left: 1.8rem;
}

label {
    font-size: 2rem;
    margin-bottom: 10px;
    color: #384148;
    font-weight: bold;
}

.registration-input {
    display:flex;
    flex-direction: column;
}

.registration-selector{
    height: 35px;
    font-size: 1.8rem;
    color: #384148;
}

.registration-btn{
    font-size: 2.2rem;
    color: white;
    height: 40px;
    width: 100%;
    margin-top:30px;
    background: #5DB0C7;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
    font-weight: bold;

    &:hover{
        cursor: pointer;
        background: #6AC4DE;
    }
}



//Login Form styling

.logo-img{
    @media (max-width:$phone){
        margin-top:2%;
        margin-bottom:2%;
    }
}

.login-form {
    display:flex;
    width: 90%;
    justify-content: flex-end;
    margin-right:5%;

    @media (max-width: $phone){
        margin-bottom: 2%;
    }
}

.login-label {
color: white;

@media (max-width: $phone){
    margin-top: 5%;
}
}

.login-input input {
    height: 35px;
    width: 250px;
    border: 1px solid #384148;
    border-radius: 5px;
    font-size:1.8rem;
    padding-left: 1.8rem;
    margin-right: 20px;

    @media (max-width: $phone){
        width:80%;
    }
}



.login-btn{
    font-size: 2.2rem;
    color: white;
    height: 40px;
    margin-top:30px;
    background: #5DB0C7;
    border: none;
    border-radius: 5px;
    font-weight: bold;

    &:hover{
        cursor: pointer;
        background: #6AC4DE;
    }

    @media (max-width: $phone){
        margin-top: 9%;
    }
}

.logo {
    color: #384148;
    font-size:4rem;
    font-weight: bold;
    text-align: center;

    @media (max-width: $phone){
        font-size:3rem;
        margin-top: 0;
    }
}

.moto {
    font-size:3rem;
    color: #384148;
    text-align: center;

    @media (max-width: $phone){
        font-size:2.5rem;
    }

}






//Home Page

.body{
    @media(max-width: $phone){
        flex-direction:column;
        justify-content: center;
        align-items: center;
    }
}

.home-content {
display: flex;
flex-direction: column;
justify-content: center;
width: 50%;
margin-left: 5%;
margin-right: 5%;

    @media(max-width: $phone){
        width:80%;
        margin: 5%;
    }
}


.home-header {
    @media (max-width: $phone){
        flex-direction: column;
        height: 150px;
    }
}

// @media (max-width: 1024px) {
//     .from-container {
//         width: 200px;
//     }

//     .image-text{
//         font-size: 2rem;
//         font-weight:bold;
//         width:90%;
//     }
// }



// @media (min-width: $layout-breakpoint-small) {
//     .hide-extra-small {
//       display: none;
//     }
//   }

// .form-container {
//     @media (max-width: 1024px) {
//         width: 300px;
//     }
// }
