
.registration-form{
    width:50%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top:5%;
    margin-bottom: 5%;
}

.registration-input input {
height: 35px;
margin-bottom: 30px;
border: 1px solid #384148;
border-radius: 5px;
font-size:1.8rem;
padding-left: 1.8rem;
}

label {
    font-size: 2rem;
    margin-bottom: 10px;
    color: #384148;
    font-weight: bold;
}

.registration-input {
    display:flex;
    flex-direction: column;
}

.registration-selector{
    height: 35px;
    font-size: 1.8rem;
    color: #384148;
}

.registration-btn{
    font-size: 2.2rem;
    color: white;
    height: 40px;
    width: 100%;
    margin-top:30px;
    background: #5DB0C7;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
    font-weight: bold;

    &:hover{
        cursor: pointer;
        background: #6AC4DE;
    }
}



//Login Form styling

.login-form {
    display:flex;
    width: 90%;
    justify-content: flex-end;
    margin-right:5%;
}

.login-label {
color: white;
}

.login-input input {
    height: 35px;
    width: 250px;
    border: 1px solid #384148;
    border-radius: 5px;
    font-size:1.8rem;
    padding-left: 1.8rem;
    margin-right: 20px;
    }



.login-btn{
    font-size: 2.2rem;
    color: white;
    height: 40px;
    margin-top:30px;
    background: #5DB0C7;
    border: none;
    border-radius: 5px;
    font-weight: bold;

    &:hover{
        cursor: pointer;
        background: #6AC4DE;
    }
}

.logo {
    font-size:3.5rem;
    font-weight: bold;
    text-align: center;
}

.moto {
    font-size:3rem;
}



@media (max-width: 1024px) {
    .from-container {
        width: 200px;
    }

    .image-text{
        font-size: 2rem;
        font-weight:bold;
        width:90%;
    }
}

// .form-container {
//     @media (max-width: 1024px) {
//         width: 300px;
//     }
// }
