
@import 'styles/variables';
@import 'styles/mixins';
@import 'styles/global';

/* Components styles */
@import 'styles/header-nav';
@import 'styles/protected-nav';
@import 'styles/student-table';
@import 'styles/login';
@import 'styles/protected-home-page';
